@page "/business/parties"
@page "/business/parties/{FilterType}"
@using Microsoft.AspNetCore.Authorization
@using EventForge.DTOs.Business
@using EventForge.DTOs.Common
@using EventForge.Client.Shared.Components
@using EventForge.Client.Extensions
@using MudBlazor
@attribute [Authorize]
@inject IAuthService AuthService
@inject IBusinessPartyService BusinessPartyService
@inject NavigationManager NavigationManager
@inject IAuthenticationDialogService AuthenticationDialogService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject ITranslationService TranslationService
@inject ILogger<BusinessPartyManagement> Logger
@inject IJSRuntime JSRuntime

<PageLoadingOverlay Visible="_isLoading || _isLoadingBusinessParties"
                     Message="@(_isLoading ? TranslationService.GetTranslation("messages.loadingPage", "Caricamento pagina...") : TranslationService.GetTranslation("common.loading", "Caricamento..."))" />

@if (!_isLoading)
{
    <div class="businessparty-page-root">
        <!-- Quick Filters -->
        <QuickFilters TItem="BusinessPartyDto"
                      Items="_allBusinessParties"
                      Filters="_quickFilters"
                      OnFilterSelected="@HandleQuickFilter"
                      ShowCount="true" />

        <div class="eftable-wrapper">
            <EFTable @ref="_efTable"
                 TItem="BusinessPartyDto"
                 Items="_filteredBusinessParties"
                 MultiSelection="true"
                 SelectedItems="_selectedBusinessParties"
                 SelectedItemsChanged="_selectedItemsChangedCallback"
                 IsLoading="_isLoadingBusinessParties"
                 ComponentKey="BusinessPartyManagement"
                 InitialColumnConfigurations="_initialColumns"
                 AllowDragDropGrouping="true"
                 ShowExport="true"
                 ShowExportDialog="true"
                 ExcelFileName="AnagraficheAziendali"
                 IsDataFiltered="@HasActiveFilters()"
                 TotalItemsCount="@_allBusinessParties.Count"
                 OnRowClick="@HandleRowClick">
            <ToolBarContent>
                <!-- SECTION 1: Title -->
                <MudText Typo="Typo.h5">
                    @GetPageTitle()
                </MudText>
                <MudSpacer />
                
                <!-- SECTION 2: Search -->
                <MudTextField @bind-Value="_searchTerm"
                              @bind-Value:after="OnSearchChanged"
                              Label="@TranslationService.GetTranslation("businessparty.search", "Cerca")"
                              Placeholder="@TranslationService.GetTranslation("businessparty.searchPlaceholder", "Inserisci nome, P.IVA o codice fiscale...")"
                              Variant="Variant.Outlined"
                              Adornment="Adornment.End"
                              AdornmentIcon="@Icons.Material.Outlined.Search"
                              Clearable="true"
                              Class="ef-input" />
                
                <!-- SECTION 3: Toolbar Actions -->
                <ManagementTableToolbar ShowSelectionBadge="true"
                                        SelectedCount="@_selectedBusinessParties.Count"
                                        ShowRefresh="true"
                                        ShowCreate="true"
                                        ShowDelete="true"
                                        CreateTooltip="businessparty.createNew"
                                        IsDisabled="_isLoadingBusinessParties"
                                        OnRefresh="@LoadBusinessPartiesAsync"
                                        OnCreate="@CreateBusinessParty"
                                        OnDelete="@DeleteSelectedBusinessParties" />
            </ToolBarContent>
            <HeaderContent Context="columnConfigurations">
                @foreach (var column in columnConfigurations.Where(c => c.IsVisible).OrderBy(c => c.Order))
                {
                    @if (column.PropertyName == "Name")
                    {
                        <EFTableColumnHeader TItem="BusinessPartyDto" PropertyName="Name" OnDragStartCallback="@_efTable.HandleColumnDragStart">
                            <MudTableSortLabel SortBy="@(new Func<BusinessPartyDto, object>(x => x.Name))">@TranslationService.GetTranslation("field.name", "Nome")</MudTableSortLabel>
                        </EFTableColumnHeader>
                    }
                    else if (column.PropertyName == "VatNumber")
                    {
                        <EFTableColumnHeader TItem="BusinessPartyDto" PropertyName="VatNumber" OnDragStartCallback="@_efTable.HandleColumnDragStart">
                            <MudTableSortLabel SortBy="@(new Func<BusinessPartyDto, object>(x => x.VatNumber ?? string.Empty))">@TranslationService.GetTranslation("field.vatNumber", "P.IVA")</MudTableSortLabel>
                        </EFTableColumnHeader>
                    }
                    else if (column.PropertyName == "TaxCode")
                    {
                        <EFTableColumnHeader TItem="BusinessPartyDto" PropertyName="TaxCode" OnDragStartCallback="@_efTable.HandleColumnDragStart">
                            <MudTableSortLabel SortBy="@(new Func<BusinessPartyDto, object>(x => x.TaxCode ?? string.Empty))">@TranslationService.GetTranslation("field.taxCode", "C.F.")</MudTableSortLabel>
                        </EFTableColumnHeader>
                    }
                    else if (column.PropertyName == "Groups")
                    {
                        <EFTableColumnHeader TItem="BusinessPartyDto" PropertyName="Groups" OnDragStartCallback="@_efTable.HandleColumnDragStart">
                            <MudText>@TranslationService.GetTranslation("field.groups", "Gruppi")</MudText>
                        </EFTableColumnHeader>
                    }
                    else if (column.PropertyName == "City")
                    {
                        <EFTableColumnHeader TItem="BusinessPartyDto" PropertyName="City" OnDragStartCallback="@_efTable.HandleColumnDragStart">
                            <MudTableSortLabel SortBy="@(new Func<BusinessPartyDto, object>(x => x.City ?? string.Empty))">@TranslationService.GetTranslation("field.city", "Località")</MudTableSortLabel>
                        </EFTableColumnHeader>
                    }
                    else if (column.PropertyName == "Province")
                    {
                        <EFTableColumnHeader TItem="BusinessPartyDto" PropertyName="Province" OnDragStartCallback="@_efTable.HandleColumnDragStart">
                            <MudTableSortLabel SortBy="@(new Func<BusinessPartyDto, object>(x => x.Province ?? string.Empty))">@TranslationService.GetTranslation("field.province", "Provincia")</MudTableSortLabel>
                        </EFTableColumnHeader>
                    }
                    else if (column.PropertyName == "Country")
                    {
                        <EFTableColumnHeader TItem="BusinessPartyDto" PropertyName="Country" OnDragStartCallback="@_efTable.HandleColumnDragStart">
                            <MudTableSortLabel SortBy="@(new Func<BusinessPartyDto, object>(x => x.Country ?? string.Empty))">@TranslationService.GetTranslation("field.country", "Nazione")</MudTableSortLabel>
                        </EFTableColumnHeader>
                    }
                    else if (column.PropertyName == "Contacts")
                    {
                        <EFTableColumnHeader TItem="BusinessPartyDto" PropertyName="Contacts" OnDragStartCallback="@_efTable.HandleColumnDragStart">
                            <MudTh>@TranslationService.GetTranslation("field.contacts", "Contatti")</MudTh>
                        </EFTableColumnHeader>
                    }
                }
                <MudTh Class="text-center" Style="min-width:120px;">@TranslationService.GetTranslation("common.actions", "Azioni")</MudTh>
            </HeaderContent>

            <RowTemplate Context="item">
                @{
                    var visibleColumns = _efTable?.ColumnConfigurations?.Where(c => c.IsVisible).OrderBy(c => c.Order).ToList() ?? _initialColumns.Where(c => c.IsVisible).OrderBy(c => c.Order).ToList();
                }
                @foreach (var column in visibleColumns)
                {
                    @if (column.PropertyName == "Name")
                    {
                        <MudTd DataLabel="@TranslationService.GetTranslation("field.name", "Nome")">
                            <div class="d-flex align-center">
                                <MudAvatar Color="@GetAvatarColor(item)" Size="Size.Small" Class="mr-2">
                                    <MudIcon Icon="@GetIcon(item)" />
                                </MudAvatar>
                                <div>
                                    <MudText Typo="Typo.body2">@item.Name</MudText>
                                    <MudText Typo="Typo.caption" Class="mud-text-secondary">ID: @(item.Id.ToString()[..Math.Min(8, item.Id.ToString().Length)])...</MudText>
                                </div>
                            </div>
                        </MudTd>
                    }
                    else if (column.PropertyName == "VatNumber")
                    {
                        <MudTd DataLabel="@TranslationService.GetTranslation("field.vatNumber", "P.IVA")">
                            <MudText Typo="Typo.body2">@(item.VatNumber ?? "-")</MudText>
                        </MudTd>
                    }
                    else if (column.PropertyName == "TaxCode")
                    {
                        <MudTd DataLabel="@TranslationService.GetTranslation("field.taxCode", "C.F.")">
                            <MudText Typo="Typo.body2">@(item.TaxCode ?? "-")</MudText>
                        </MudTd>
                    }
                    else if (column.PropertyName == "Groups")
                    {
                        <MudTd DataLabel="@TranslationService.GetTranslation("field.groups", "Gruppi")">
                            @if (item.Groups != null && item.Groups.Any())
                            {
                                var sortedGroups = GetSortedGroups(item.Groups).ToList();
                                <MudStack Row="true" Spacing="1" Wrap="Wrap.Wrap" Style="max-width: 300px;">
                                    @foreach (var group in sortedGroups.Take(3))
                                    {
                                        <MudTooltip Text="@GetGroupTooltip(group)" Placement="Placement.Top">
                                            <MudChip T="string"
                                                     Size="Size.Small" 
                                                     Style="@GetGroupBadgeStyle(group)"
                                                     Icon="@(group.Icon ?? Icons.Material.Filled.Group)">
                                                @group.Name
                                            </MudChip>
                                        </MudTooltip>
                                    }
                                    @if (sortedGroups.Count > 3)
                                    {
                                        <MudTooltip Text="@GetRemainingGroupsTooltip(sortedGroups.Skip(3))">
                                            <MudChip T="string" 
                                                     Size="Size.Small" 
                                                     Color="Color.Default" 
                                                     Variant="Variant.Outlined">
                                                +@(sortedGroups.Count - 3)
                                            </MudChip>
                                        </MudTooltip>
                                    }
                                </MudStack>
                            }
                            else
                            {
                                <MudText Typo="Typo.caption" Color="Color.Secondary">-</MudText>
                            }
                        </MudTd>
                    }
                    else if (column.PropertyName == "City")
                    {
                        <MudTd DataLabel="@TranslationService.GetTranslation("field.city", "Località")">
                            <MudText Typo="Typo.body2">@(item.City ?? "-")</MudText>
                        </MudTd>
                    }
                    else if (column.PropertyName == "Province")
                    {
                        <MudTd DataLabel="@TranslationService.GetTranslation("field.province", "Provincia")">
                            <MudText Typo="Typo.body2">@(item.Province ?? "-")</MudText>
                        </MudTd>
                    }
                    else if (column.PropertyName == "Country")
                    {
                        <MudTd DataLabel="@TranslationService.GetTranslation("field.country", "Nazione")">
                            <MudText Typo="Typo.body2">@(item.Country ?? "-")</MudText>
                        </MudTd>
                    }
                    else if (column.PropertyName == "Contacts")
                    {
                        <MudTd DataLabel="@TranslationService.GetTranslation("field.contacts", "Contatti")">
                            <div class="d-flex gap-2">
                                <MudChip T="string" Size="Size.Small" Icon="@Icons.Material.Outlined.LocationOn">@item.AddressCount</MudChip>
                                <MudChip T="string" Size="Size.Small" Icon="@Icons.Material.Outlined.Phone">@item.ContactCount</MudChip>
                                <MudChip T="string" Size="Size.Small" Icon="@Icons.Material.Outlined.Person">@item.ReferenceCount</MudChip>
                            </div>
                        </MudTd>
                    }
                }
                <MudTd DataLabel="@TranslationService.GetTranslation("common.actions", "Azioni")" Class="text-center">
                    @if (item.PartyType == BusinessPartyType.Supplier || item.PartyType == BusinessPartyType.Both)
                    {
                        <MudTooltip Text="@TranslationService.GetTranslation("supplier.manageProducts", "Gestisci Prodotti")">
                            <MudIconButton Icon="@Icons.Material.Outlined.Inventory2"
                                           Color="Color.Dark"
                                           Size="Size.Small"
                                           OnClick="@(() => ManageSupplierProducts(item))" />
                        </MudTooltip>
                    }
                    <ActionButtonGroup EntityName="@item.Name"
                                       ItemDisplayName="@item.Name"
                                       ShowView="false"
                                       ShowEdit="true"
                                       ShowAuditLog="true"
                                       ShowToggleStatus="true"
                                       ShowDelete="true"
                                       IsActive="@item.IsActive"
                                       OnEdit="@(() => EditBusinessParty(item))"
                                       OnAuditLog="@(() => ViewBusinessPartyAuditLog(item))"
                                       OnToggleStatus="@(() => ToggleBusinessPartyStatus(item))"
                                       OnDelete="@(() => DeleteBusinessParty(item))" />
                </MudTd>
            </RowTemplate>

            <NoRecordsContent>
                <div class="text-center pa-2 pa-sm-3 pa-md-4">
                    <MudIcon Icon="@Icons.Material.Outlined.Business" Size="Size.Medium" Class="mb-4 mud-text-secondary" />
                    <MudText Typo="Typo.h6" Class="mb-2">
                        @(_allBusinessParties.Any() ? 
                            TranslationService.GetTranslation("businessparty.noMatchFilters", "Nessun business party corrisponde ai filtri applicati") : 
                            TranslationService.GetTranslation("businessparty.noFound", "Nessun business party trovato"))
                    </MudText>
                    @if (_allBusinessParties.Any())
                    {
                        <MudButton Variant="Variant.Text" 
                                   Color="Color.Primary" 
                                   StartIcon="@Icons.Material.Outlined.Clear"
                                   OnClick="@ClearFilters">
                            @TranslationService.GetTranslation("businessparty.clearFilters", "Cancella filtri")
                        </MudButton>
                    }
                </div>
            </NoRecordsContent>
            </EFTable>
        </div>
    </div>
}

@code {
    // Route parameter
    [Parameter] public string? FilterType { get; set; }
    
    // Dialog options for fullscreen audit dialog
    private readonly DialogOptions _auditDialogOptions = new() 
    { 
        FullScreen = true, 
        CloseButton = true,
        MaxWidth = MaxWidth.False
    };
    
    // UI State Management
    private bool _isLoading = true;
    private bool _isLoadingBusinessParties = false;

    // Filter and search state
    private string _searchTerm = string.Empty;
    private CancellationTokenSource? _searchDebounceCts;

    // Quick Filters
    private List<QuickFilter<BusinessPartyDto>> _quickFilters = new()
    {
        new() 
        { 
            Id = "all", 
            Label = "Tutti",
            Predicate = _ => true,
            Description = "Mostra tutte le anagrafiche"
        },
        new() 
        { 
            Id = "customers", 
            Label = "Clienti",
            Predicate = bp => bp.PartyType == BusinessPartyType.Cliente || bp.PartyType == BusinessPartyType.Both,
            Color = Color.Primary,
            Icon = Icons.Material.Outlined.People,
            Description = "Solo clienti"
        },
        new() 
        { 
            Id = "suppliers", 
            Label = "Fornitori",
            Predicate = bp => bp.PartyType == BusinessPartyType.Supplier || bp.PartyType == BusinessPartyType.Both,
            Color = Color.Secondary,
            Icon = Icons.Material.Outlined.LocalShipping,
            Description = "Solo fornitori"
        },
        new() 
        { 
            Id = "both", 
            Label = "Cliente + Fornitore",
            Predicate = bp => bp.PartyType == BusinessPartyType.Both,
            Color = Color.Info,
            Icon = Icons.Material.Outlined.Handshake,
            Description = "Anagrafiche sia cliente che fornitore"
        },
        new() 
        { 
            Id = "active", 
            Label = "Attivi",
            Predicate = bp => bp.IsActive,
            Color = Color.Success,
            Icon = Icons.Material.Outlined.CheckCircle,
            Description = "Anagrafiche attive"
        },
        new() 
        { 
            Id = "with_vat", 
            Label = "Con P.IVA",
            Predicate = bp => !string.IsNullOrWhiteSpace(bp.VatNumber),
            Color = Color.Warning,
            Icon = Icons.Material.Outlined.Numbers,
            Description = "Anagrafiche con Partita IVA"
        }
    };
    
    private QuickFilter<BusinessPartyDto>? _activeQuickFilter;

    // Data collections
    private List<BusinessPartyDto> _allBusinessParties = new();
    private HashSet<BusinessPartyDto> _selectedBusinessParties = new();

    // EFTable reference
    private EFTable<BusinessPartyDto> _efTable = null!;

    // Column configuration for EFTable
    private List<EFTableColumnConfiguration> _initialColumns = new()
    {
        new() { PropertyName = "Name", DisplayName = "Nome", IsVisible = true, Order = 0, IsSearchable = true },
        new() { PropertyName = "VatNumber", DisplayName = "P.IVA", IsVisible = true, Order = 1, IsSearchable = true },
        new() { PropertyName = "TaxCode", DisplayName = "C.F.", IsVisible = true, Order = 2, IsSearchable = true },
        new() { PropertyName = "Groups", DisplayName = "Gruppi", IsVisible = true, Order = 3, IsSearchable = false },
        new() { PropertyName = "City", DisplayName = "Località", IsVisible = true, Order = 4, IsSearchable = true },
        new() { PropertyName = "Province", DisplayName = "Provincia", IsVisible = true, Order = 5, IsSearchable = true },
        new() { PropertyName = "Country", DisplayName = "Nazione", IsVisible = true, Order = 6, IsSearchable = false },
        new() { PropertyName = "Contacts", DisplayName = "Contatti", IsVisible = true, Order = 7, IsSearchable = false }
    };

    private EventCallback<HashSet<BusinessPartyDto>> _selectedItemsChangedCallback => EventCallback.Factory.Create<HashSet<BusinessPartyDto>>(this, OnSelectedItemsChanged);

    /// <summary>
    /// Handles quick filter selection
    /// </summary>
    private void HandleQuickFilter(QuickFilter<BusinessPartyDto>? filter)
    {
        _activeQuickFilter = filter;
        StateHasChanged();
    }

    /// <summary>
    /// Computed property for filtered business parties based on search and type filter.
    /// </summary>
    private IEnumerable<BusinessPartyDto> _filteredBusinessParties
    {
        get
        {
            var filtered = _allBusinessParties.AsEnumerable();
            
            // Apply quick filter
            if (_activeQuickFilter != null && _activeQuickFilter.Predicate != null)
            {
                filtered = filtered.Where(bp => _activeQuickFilter.Predicate(bp));
            }
            
            // Apply configurable multi-column search
            if (!string.IsNullOrWhiteSpace(_searchTerm))
            {
                filtered = filtered.Where(bp =>
                    bp.MatchesSearchInColumns(
                        _searchTerm,
                        _initialColumns.Where(c => c.IsSearchable).Select(c => c.PropertyName)));
            }
            
            return filtered.ToList();
        }
    }

    /// <summary>
    /// Handles selection changes from EFTable
    /// </summary>
    private void OnSelectedItemsChanged(HashSet<BusinessPartyDto> items)
    {
        _selectedBusinessParties = items;
        StateHasChanged();
    }

    /// <summary>
    /// Handles row click - navigates to business party detail page
    /// </summary>
    private void HandleRowClick(TableRowClickEventArgs<BusinessPartyDto> args)
    {
        // Ctrl+Click or Cmd+Click opens in new tab
        if (args.MouseEventArgs.CtrlKey || args.MouseEventArgs.MetaKey)
        {
            JSRuntime.InvokeVoidAsync("open", $"/business/parties/{args.Item.Id}", "_blank");
            return;
        }

        // Normal click navigates in same tab
        NavigationManager.NavigateTo($"/business/parties/{args.Item.Id}");
    }

    /// <summary>
    /// Component initialization.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Check authentication
            var isAuthenticated = await AuthService.IsAuthenticatedAsync();
            if (!isAuthenticated)
            {
                await ShowLoginDialogAsync();
                return;
            }

            // Load business parties
            await LoadBusinessPartiesAsync();
        }
        catch (Exception ex)
        {
            Snackbar.Add(TranslationService.GetTranslation("businessparty.loadingPageError", "Errore nel caricamento della pagina: {0}", ex.Message), Severity.Error);
            Logger.LogError(ex, "Error loading business parties page");
        }
        finally
        {
            _isLoading = false;
        }
    }

    /// <summary>
    /// Handle route parameter changes
    /// </summary>
    protected override void OnParametersSet()
    {
        // Interpret the URL parameter and set the quick filter
        var filterId = FilterType?.ToLower() switch
        {
            "customers" or "clienti" => "customers",
            "suppliers" or "fornitori" => "suppliers",
            "both" or "entrambi" => "both",
            _ => "all"
        };
        
        _activeQuickFilter = _quickFilters.FirstOrDefault(f => f.Id == filterId);
    }

    /// <summary>
    /// Loads all business party data.
    /// </summary>
    private async Task LoadBusinessPartiesAsync()
    {
        try
        {
            _isLoadingBusinessParties = true;
            StateHasChanged();
            
            // Load all business party types
            var customers = await BusinessPartyService.GetBusinessPartiesByTypeAsync(BusinessPartyType.Cliente);
            var suppliers = await BusinessPartyService.GetBusinessPartiesByTypeAsync(BusinessPartyType.Supplier);
            var both = await BusinessPartyService.GetBusinessPartiesByTypeAsync(BusinessPartyType.Both);
            
            // Combine and sort
            _allBusinessParties = customers.Concat(suppliers).Concat(both)
                .GroupBy(bp => bp.Id)
                .Select(g => g.First())
                .OrderBy(bp => bp.Name)
                .ToList();
        }
        catch (Exception ex)
        {
            Snackbar.Add(TranslationService.GetTranslation("businessparty.loadingError", "Errore nel caricamento dei business party: {0}", ex.Message), Severity.Error);
            Logger.LogError(ex, "Error loading business parties");
        }
        finally
        {
            _isLoadingBusinessParties = false;
            StateHasChanged();
        }
    }

    /// <summary>
    /// Clears all active filters.
    /// </summary>
    private void ClearFilters()
    {
        _searchTerm = string.Empty;
        _activeQuickFilter = null;
        StateHasChanged();
    }

    private async Task OnSearchChanged()
    {
        // Cancel previous debounce if any
        _searchDebounceCts?.Cancel();
        _searchDebounceCts = new CancellationTokenSource();
        var token = _searchDebounceCts.Token;
        
        try
        {
            await Task.Delay(300, token); // Debounce with cancellation
            if (!token.IsCancellationRequested)
            {
                StateHasChanged();
            }
        }
        catch (OperationCanceledException)
        {
            // Swallow cancellation
        }
    }

    private void CreateBusinessParty()
    {
        // Navigate based on active filter
        var route = _activeQuickFilter?.Id switch
        {
            "suppliers" => "/business/suppliers/new",
            "both" => "/business/customers/new", // Default to customer form
            _ => "/business/customers/new"
        };
        
        NavigationManager.NavigateTo(route);
    }

    private void EditBusinessParty(BusinessPartyDto businessParty)
    {
        // Navigate to appropriate edit page based on type
        var route = businessParty.PartyType switch
        {
            BusinessPartyType.Supplier => $"/business/suppliers/{businessParty.Id}",
            _ => $"/business/customers/{businessParty.Id}"
        };
        
        NavigationManager.NavigateTo(route);
    }

    private async Task DeleteBusinessParty(BusinessPartyDto businessParty)
    {
        var confirmTitle = TranslationService.GetTranslation("common.confirm", "Conferma");
        var confirmMessage = TranslationService.GetTranslation("businessparty.confirmDelete", 
            "Sei sicuro di voler eliminare il business party '{0}'? Questa azione non può essere annullata.", 
            businessParty.Name);

        var confirm = await DialogService.ShowMessageBox(
            confirmTitle,
            confirmMessage,
            yesText: TranslationService.GetTranslation("common.delete", "Elimina"),
            cancelText: TranslationService.GetTranslation("common.cancel", "Annulla"));

        if (confirm == true)
        {
            try
            {
                await BusinessPartyService.DeleteBusinessPartyAsync(businessParty.Id);
                _allBusinessParties.Remove(businessParty);
                Snackbar.Add(TranslationService.GetTranslation("businessparty.deleted", "Business party eliminato con successo!"), Severity.Success);
                StateHasChanged();
            }
            catch (Exception ex)
            {
                Snackbar.Add(TranslationService.GetTranslation("businessparty.deleteError", 
                    "Errore nell'eliminazione del business party: {0}", ex.Message), Severity.Error);
                Logger.LogError(ex, "Error deleting business party {BusinessPartyId}", businessParty.Id);
            }
        }
    }

    /// <summary>
    /// Opens the audit log dialog for a business party.
    /// </summary>
    private async Task ViewBusinessPartyAuditLog(BusinessPartyDto businessParty)
    {
        var parameters = new DialogParameters<AuditHistoryDialog>
        {
            { x => x.EntityType, "BusinessParty" },
            { x => x.EntityId, businessParty.Id },
            { x => x.EntityName, businessParty.Name }
        };

        await DialogService.ShowAsync<AuditHistoryDialog>(
            TranslationService.GetTranslation("audit.historyDialog.title", "Cronologia Modifiche"),
            parameters,
            _auditDialogOptions);
    }

    /// <summary>
    /// Toggles the active status of a business party.
    /// </summary>
    private async Task ToggleBusinessPartyStatus(BusinessPartyDto businessParty)
    {
        var actionText = businessParty.IsActive ? 
            TranslationService.GetTranslation("common.deactivate", "disattivare") : 
            TranslationService.GetTranslation("common.activate", "attivare");
            
        var confirmTitle = TranslationService.GetTranslation("common.confirm", "Conferma");
        var confirmMessage = TranslationService.GetTranslationFormatted("businessparty.confirmStatusChange", 
            "Sei sicuro di voler {0} il business party '{1}'?", 
            actionText, businessParty.Name);

        var confirm = await DialogService.ShowMessageBox(
            confirmTitle,
            confirmMessage,
            yesText: TranslationService.GetTranslation("common.confirm", "Conferma"),
            cancelText: TranslationService.GetTranslation("common.cancel", "Annulla"));

        if (confirm == true)
        {
            try
            {
                // Toggle the status locally
                businessParty.IsActive = !businessParty.IsActive;
                
                var statusMessage = businessParty.IsActive ?
                    TranslationService.GetTranslation("businessparty.activated", "Business party attivato con successo!") :
                    TranslationService.GetTranslation("businessparty.deactivated", "Business party disattivato con successo!");
                
                Snackbar.Add(statusMessage, Severity.Success);
                StateHasChanged();
            }
            catch (Exception ex)
            {
                Snackbar.Add(TranslationService.GetTranslation("businessparty.statusChangeError", 
                    "Errore nel cambio di stato: {0}", ex.Message), Severity.Error);
                Logger.LogError(ex, "Error toggling business party status {BusinessPartyId}", businessParty.Id);
                // Revert the change on error
                businessParty.IsActive = !businessParty.IsActive;
            }
        }
    }

    /// <summary>
    /// Opens the dialog to manage products for a supplier.
    /// </summary>
    private async Task ManageSupplierProducts(BusinessPartyDto supplier)
    {
        var parameters = new DialogParameters
        {
            { "SupplierId", supplier.Id },
            { "SupplierName", supplier.Name }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
            CloseButton = true
        };

        var dialog = await DialogService.ShowAsync<ManageSupplierProductsDialog>(
            TranslationService.GetTranslation("supplier.manageProducts", "Gestisci Prodotti") + $" - {supplier.Name}",
            parameters,
            options);

        var result = await dialog.Result;
        if (result is not null && !result.Canceled)
        {
            StateHasChanged();
        }
    }

    /// <summary>
    /// Deletes all selected business parties.
    /// </summary>
    private async Task DeleteSelectedBusinessParties()
    {
        if (_selectedBusinessParties.Count == 0)
            return;

        var confirmTitle = TranslationService.GetTranslation("common.confirm", "Conferma");
        var confirmMessage = TranslationService.GetTranslationFormatted("businessparty.confirmDeleteMultiple", 
            "Sei sicuro di voler eliminare {0} business party selezionati? Questa azione non può essere annullata.", 
            _selectedBusinessParties.Count);

        var confirm = await DialogService.ShowMessageBox(
            confirmTitle,
            confirmMessage,
            yesText: TranslationService.GetTranslation("common.delete", "Elimina"),
            cancelText: TranslationService.GetTranslation("common.cancel", "Annulla"));

        if (confirm == true)
        {
            try
            {
                var deletedCount = 0;
                var failedCount = 0;
                
                foreach (var businessParty in _selectedBusinessParties.ToList())
                {
                    try
                    {
                        await BusinessPartyService.DeleteBusinessPartyAsync(businessParty.Id);
                        _allBusinessParties.Remove(businessParty);
                        deletedCount++;
                    }
                    catch (Exception ex)
                    {
                        failedCount++;
                        Logger.LogError(ex, "Error deleting business party {BusinessPartyId}", businessParty.Id);
                    }
                }
                
                _selectedBusinessParties.Clear();
                
                if (failedCount == 0)
                {
                    Snackbar.Add(TranslationService.GetTranslationFormatted("businessparty.deletedMultiple", 
                        "{0} business party eliminati con successo!", deletedCount), Severity.Success);
                }
                else
                {
                    Snackbar.Add(TranslationService.GetTranslationFormatted("businessparty.deletedMultiplePartial", 
                        "{0} business party eliminati, {1} falliti", deletedCount, failedCount), Severity.Warning);
                }
                
                StateHasChanged();
            }
            catch (Exception ex)
            {
                Snackbar.Add(TranslationService.GetTranslationFormatted("businessparty.deleteError", 
                    "Errore nell'eliminazione dei business party: {0}", ex.Message), Severity.Error);
                Logger.LogError(ex, "Error deleting selected business parties");
            }
        }
    }

    private async Task ShowLoginDialogAsync()
    {
        var result = await AuthenticationDialogService.ShowLoginDialogAsync();
        if (result)
        {
            // Reload the page after successful login
            await OnInitializedAsync();
        }
    }

    // Helper methods for group badges

    /// <summary>
    /// Get sorted groups by priority (descending) and currently valid
    /// </summary>
    private IEnumerable<BusinessPartyGroupDto> GetSortedGroups(List<BusinessPartyGroupDto> groups)
    {
        return groups
            .Where(g => g.IsActive && g.IsCurrentlyValid)
            .OrderByDescending(g => g.Priority)
            .ThenBy(g => g.Name);
    }

    /// <summary>
    /// Get style for group badge with custom color
    /// </summary>
    private string GetGroupBadgeStyle(BusinessPartyGroupDto group)
    {
        if (string.IsNullOrEmpty(group.ColorHex))
            return string.Empty;
        
        // Background color with 12.5% opacity
        var bgColor = $"{group.ColorHex}20";
        // Border with 25% opacity
        var borderColor = $"{group.ColorHex}40";
        
        return $"background-color: {bgColor}; color: {group.ColorHex}; border: 1px solid {borderColor}; font-weight: 500;";
    }

    /// <summary>
    /// Get tooltip for a group
    /// </summary>
    private string GetGroupTooltip(BusinessPartyGroupDto group)
    {
        var tooltip = group.Name;
        
        if (!string.IsNullOrEmpty(group.Description))
        {
            tooltip += $"\n{group.Description}";
        }
        
        if (group.ValidFrom.HasValue || group.ValidTo.HasValue)
        {
            tooltip += "\n\nValidità: ";
            tooltip += group.ValidFrom.HasValue ? $"dal {group.ValidFrom.Value:dd/MM/yyyy}" : "da sempre";
            tooltip += " ";
            tooltip += group.ValidTo.HasValue ? $"al {group.ValidTo.Value:dd/MM/yyyy}" : "per sempre";
        }
        
        tooltip += $"\n\nPriorità: {group.Priority}";
        tooltip += $"\nMembri attivi: {group.ActiveMembersCount}";
        
        return tooltip;
    }

    /// <summary>
    /// Get tooltip for remaining groups (beyond first 3)
    /// </summary>
    private string GetRemainingGroupsTooltip(IEnumerable<BusinessPartyGroupDto> remainingGroups)
    {
        var groups = remainingGroups.ToList();
        if (!groups.Any()) return string.Empty;
        
        var tooltip = "Altri gruppi:\n";
        tooltip += string.Join("\n", groups.Select(g => $"• {g.Name}"));
        
        return tooltip;
    }

    /// <summary>
    /// Get avatar color based on business party type
    /// </summary>
    private Color GetAvatarColor(BusinessPartyDto bp)
    {
        return bp.PartyType switch
        {
            BusinessPartyType.Cliente => Color.Info,
            BusinessPartyType.Customer => Color.Info,
            BusinessPartyType.Supplier => Color.Primary,
            BusinessPartyType.Both => Color.Secondary,
            _ => Color.Default
        };
    }

    /// <summary>
    /// Get icon based on business party type
    /// </summary>
    private string GetIcon(BusinessPartyDto bp)
    {
        return bp.PartyType switch
        {
            BusinessPartyType.Cliente => Icons.Material.Outlined.Person,
            BusinessPartyType.Customer => Icons.Material.Outlined.Person,
            BusinessPartyType.Supplier => Icons.Material.Outlined.Business,
            BusinessPartyType.Both => Icons.Material.Outlined.Handshake,
            _ => Icons.Material.Outlined.Business
        };
    }

    /// <summary>
    /// Get page title based on active filter
    /// </summary>
    private string GetPageTitle()
    {
        return _activeQuickFilter?.Id switch
        {
            "customers" => TranslationService.GetTranslation("customer.management", "Gestione Clienti"),
            "suppliers" => TranslationService.GetTranslation("supplier.management", "Gestione Fornitori"),
            "both" => TranslationService.GetTranslation("businessparty.managementBoth", "Gestione Cliente/Fornitore"),
            _ => TranslationService.GetTranslation("businessparty.management", "Gestione Business Party")
        };
    }
    
    private bool HasActiveFilters()
    {
        return !string.IsNullOrWhiteSpace(_searchTerm) 
            || _activeQuickFilter != null;
    }
}
