@using MudBlazor
@using EventForge.DTOs.SuperAdmin
@using EventForge.DTOs.Tenants
@using EventForge.Client.Shared.Components
@using EventForge.Client.Constants
@inject ISuperAdminService SuperAdminService
@inject ISnackbar Snackbar
@inject ILogger<UserDrawer> Logger
@inject ITranslationService TranslationService

<EntityDrawer @bind-IsOpen="@IsOpen"
              @bind-Mode="@Mode"
              EntityName="@TranslationService.GetTranslation("field.username")"
              Model="@_model"
              OnSave="@HandleSave"
              OnCancel="@HandleCancel"
              OnClose="@HandleClose"
              CustomTitle="@_customTitle"
              AllowEdit="@AllowEdit"
              Width="700px">
    
    <FormContent>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="_model.FirstName"
                              Label="@($"{TranslationService.GetTranslation("drawer.field.nome")} *")"
                              Variant="Variant.Outlined"
                              Required="true"
                              RequiredError="@TranslationService.GetTranslation("drawer.error.nomeObbligatorio")"
                              MaxLength="100"
                              aria-describedby="firstName-help" />
                <MudText id="firstName-help" Typo="Typo.caption" Class="mud-input-helper-text">
                    @TranslationService.GetTranslation("drawer.helperText.nome")
                </MudText>
            </MudItem>
            
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="_model.LastName"
                              Label="@($"{TranslationService.GetTranslation("drawer.field.cognome")} *")"
                              Variant="Variant.Outlined"
                              Required="true"
                              RequiredError="@TranslationService.GetTranslation("drawer.error.cognomeObbligatorio")"
                              MaxLength="100"
                              aria-describedby="lastName-help" />
                <MudText id="lastName-help" Typo="Typo.caption" Class="mud-input-helper-text">
                    @TranslationService.GetTranslation("drawer.helperText.cognome")
                </MudText>
            </MudItem>
            
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="_model.Username"
                              Label="@($"{TranslationService.GetTranslation("drawer.field.username")} *")"
                              Variant="Variant.Outlined"
                              Required="true"
                              RequiredError="@TranslationService.GetTranslation("drawer.error.usernameObbligatorio")"
                              MaxLength="100"
                              ReadOnly="@(Mode == EntityDrawerMode.Edit)"
                              aria-describedby="username-help" />
                <MudText id="username-help" Typo="Typo.caption" Class="mud-input-helper-text">
                    @(Mode == EntityDrawerMode.Edit ? 
                        TranslationService.GetTranslation("drawer.helperText.usernameEdit") : 
                        TranslationService.GetTranslation("drawer.helperText.usernameCreate"))
                </MudText>
            </MudItem>
            
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="_model.Email"
                              Label="@($"{TranslationService.GetTranslation("drawer.field.email")} *")"
                              Variant="Variant.Outlined"
                              InputType="InputType.Email"
                              Required="true"
                              RequiredError="@TranslationService.GetTranslation("drawer.error.emailObbligatoria")"
                              MaxLength="256"
                              aria-describedby="email-help" />
                <MudText id="email-help" Typo="Typo.caption" Class="mud-input-helper-text">
                    @TranslationService.GetTranslation("drawer.helperText.email")
                </MudText>
            </MudItem>
            
            <MudItem xs="12">
                <MudSelect T="Guid?" 
                           @bind-Value="_model.TenantId" 
                           Label="@($"{TranslationService.GetTranslation("drawer.field.tenant")} *")" 
                           Variant="Variant.Outlined" 
                           Required="true"
                           Disabled="@(Mode == EntityDrawerMode.Edit)"
                           aria-describedby="tenant-help">
                    @foreach (var tenant in _tenants)
                    {
                        <MudSelectItem T="Guid?" Value="@tenant.Id">@tenant.DisplayName</MudSelectItem>
                    }
                </MudSelect>
                <MudText id="tenant-help" Typo="Typo.caption" Class="mud-input-helper-text">
                    @(Mode == EntityDrawerMode.Edit ? 
                        TranslationService.GetTranslation("drawer.helperText.tenantEdit") : 
                        TranslationService.GetTranslation("drawer.helperText.tenantCreate"))
                </MudText>
            </MudItem>
            
            @if (Mode == EntityDrawerMode.Create)
            {
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="_password"
                                  Label="@($"{TranslationService.GetTranslation("drawer.field.password")} *")"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="@TranslationService.GetTranslation("drawer.error.passwordObbligatoria")"
                                  aria-describedby="password-help" />
                    <MudText id="password-help" Typo="Typo.caption" Class="mud-input-helper-text">
                        @TranslationService.GetTranslation("drawer.helperText.password")
                    </MudText>
                </MudItem>
                
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="_confirmPassword"
                                  Label="@($"{TranslationService.GetTranslation("drawer.field.confermaPassword")} *")"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="@TranslationService.GetTranslation("drawer.error.confermaPasswordObbligatoria")"
                                  Validation="@(new Func<string, string?>(ValidatePasswordConfirmation))"
                                  aria-describedby="confirmPassword-help" />
                    <MudText id="confirmPassword-help" Typo="Typo.caption" Class="mud-input-helper-text">
                        @TranslationService.GetTranslation("drawer.helperText.confermaPassword")
                    </MudText>
                </MudItem>
            }
            
            @if (Mode == EntityDrawerMode.Edit)
            {
                <MudItem xs="12" md="6">
                    <MudSwitch T="bool" 
                               @bind-Checked="_model.IsActive"
                               Label="@TranslationService.GetTranslation("drawer.field.utenteAttivo")"
                               Color="Color.Primary"
                               aria-describedby="active-help" />
                    <MudText id="active-help" Typo="Typo.caption" Class="mud-input-helper-text">
                        @TranslationService.GetTranslation("drawer.helperText.utenteAttivo")
                    </MudText>
                </MudItem>
            }
            
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Class="mb-3">@TranslationService.GetTranslation("drawer.field.ruoli")</MudText>
                <fieldset aria-labelledby="roles-legend">
                    <legend id="roles-legend" style="display: none;">@TranslationService.GetTranslation("drawer.aria.selezionaRuoli")</legend>
                    <MudGrid>
                        @foreach (var role in _availableRoles)
                        {
                            <MudItem xs="12" sm="6" md="4">
                                <MudCheckBox @bind-Value="_selectedRoles[role]"
                                             Color="Color.Primary"
                                             Label="@role"
                                             aria-describedby="@($"role-{role}-help")" />
                                <MudText id="@($"role-{role}-help")" Typo="Typo.caption" Class="mud-input-helper-text">
                                    @GetRoleDescription(role)
                                </MudText>
                            </MudItem>
                        }
                    </MudGrid>
                </fieldset>
            </MudItem>
            
            @if (Mode == EntityDrawerMode.Edit && OriginalUser != null)
            {
                <MudItem xs="12" md="6">
                    <MudTextField Value="@OriginalUser.Id.ToString()"
                                  Label="@TranslationService.GetTranslation("drawer.field.idUtente")"
                                  Variant="Variant.Outlined"
                                  ReadOnly="true"
                                  aria-label="@TranslationService.GetTranslation("drawer.aria.identificativoUnico")" />
                </MudItem>
                
                <MudItem xs="12" md="6">
                    <MudTextField Value="@OriginalUser.CreatedAt.ToString("dd/MM/yyyy HH:mm")"
                                  Label="@TranslationService.GetTranslation("drawer.field.dataCreazione")"
                                  Variant="Variant.Outlined"
                                  ReadOnly="true"
                                  aria-label="@TranslationService.GetTranslation("drawer.aria.dataOraCreazione")" />
                </MudItem>
            }
        </MudGrid>
    </FormContent>
    
    <ViewContent>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudTextField Value="@(OriginalUser?.FirstName ?? "")"
                              Label="@TranslationService.GetTranslation("drawer.field.nome")"
                              Variant="Variant.Outlined"
                              ReadOnly="true"
                              aria-label="@TranslationService.GetTranslation("drawer.field.nome")" />
            </MudItem>
            
            <MudItem xs="12" md="6">
                <MudTextField Value="@(OriginalUser?.LastName ?? "")"
                              Label="@TranslationService.GetTranslation("drawer.field.cognome")"
                              Variant="Variant.Outlined"
                              ReadOnly="true"
                              aria-label="@TranslationService.GetTranslation("drawer.field.cognome")" />
            </MudItem>
            
            <MudItem xs="12" md="6">
                <MudTextField Value="@(OriginalUser?.Username ?? "")"
                              Label="@TranslationService.GetTranslation("drawer.field.username")"
                              Variant="Variant.Outlined"
                              ReadOnly="true"
                              aria-label="@TranslationService.GetTranslation("drawer.field.username")" />
            </MudItem>
            
            <MudItem xs="12" md="6">
                <MudTextField Value="@(OriginalUser?.Email ?? "")"
                              Label="@TranslationService.GetTranslation("drawer.field.email")"
                              Variant="Variant.Outlined"
                              ReadOnly="true"
                              aria-label="@TranslationService.GetTranslation("drawer.field.email")" />
            </MudItem>
            
            <MudItem xs="12" md="6">
                <MudTextField Value="@(OriginalUser?.TenantName ?? TranslationService.GetTranslation("common.notAvailable"))"
                              Label="@TranslationService.GetTranslation("drawer.field.tenant")"
                              Variant="Variant.Outlined"
                              ReadOnly="true"
                              aria-label="@TranslationService.GetTranslation("drawer.field.tenant")" />
            </MudItem>
            
            <MudItem xs="12" md="6">
                <MudChip T="string" 
                         Color="@(OriginalUser?.IsActive == true ? Color.Success : Color.Error)" 
                         Size="Size.Medium"
                         aria-label="@TranslationService.GetTranslation("drawer.aria.statoEntita", TranslationService.GetTranslation("common.user"), (OriginalUser?.IsActive == true ? TranslationService.GetTranslation("drawer.status.attivo") : TranslationService.GetTranslation("drawer.status.inattivo")))">
                    @(OriginalUser?.IsActive == true ? TranslationService.GetTranslation("drawer.status.attivo") : TranslationService.GetTranslation("drawer.status.inattivo"))
                </MudChip>
            </MudItem>
            
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Class="mb-3">@TranslationService.GetTranslation("drawer.field.ruoli")</MudText>
                <div class="d-flex flex-wrap gap-2" role="list" aria-label="@TranslationService.GetTranslation("drawer.aria.ruoliAssegnati")">
                    @if (OriginalUser?.Roles?.Any() == true)
                    {
                        @foreach (var role in OriginalUser.Roles)
                        {
                            <MudChip T="string" 
                                     Color="@GetRoleColor(role)" 
                                     Size="Size.Small"
                                     role="listitem"
                                     aria-label="@TranslationService.GetTranslation("drawer.aria.ruolo", role)">
                                @role
                            </MudChip>
                        }
                    }
                    else
                    {
                        <MudText Typo="Typo.body2" Class="text-muted">@TranslationService.GetTranslation("drawer.status.nessunRuolo")</MudText>
                    }
                </div>
            </MudItem>
            
            @if (OriginalUser != null)
            {
                <MudItem xs="12" md="6">
                    <MudTextField Value="@OriginalUser.Id.ToString()"
                                  Label="@TranslationService.GetTranslation("drawer.field.idUtente")"
                                  Variant="Variant.Outlined"
                                  ReadOnly="true"
                                  aria-label="@TranslationService.GetTranslation("drawer.aria.identificativoUnico")" />
                </MudItem>
                
                <MudItem xs="12" md="6">
                    <MudTextField Value="@OriginalUser.CreatedAt.ToString("dd/MM/yyyy HH:mm")"
                                  Label="@TranslationService.GetTranslation("drawer.field.dataCreazione")"
                                  Variant="Variant.Outlined"
                                  ReadOnly="true"
                                  aria-label="@TranslationService.GetTranslation("drawer.aria.dataOraCreazione")" />
                </MudItem>
                
                <MudItem xs="12">
                    <MudTextField Value="@(OriginalUser.LastLoginAt?.ToString("dd/MM/yyyy HH:mm") ?? TranslationService.GetTranslation("drawer.status.maiEffettuato"))"
                                  Label="@TranslationService.GetTranslation("drawer.field.ultimoAccesso")"
                                  Variant="Variant.Outlined"
                                  ReadOnly="true"
                                  aria-label="@TranslationService.GetTranslation("drawer.aria.dataOraUltimoAccesso")" />
                </MudItem>
            }
        </MudGrid>
    </ViewContent>
    
</EntityDrawer>

@code {
    private UserManagementDto _model = new();
    private string _password = "";
    private string _confirmPassword = "";
    private string? _customTitle;
    
    private List<TenantResponseDto> _tenants = new();
    private readonly List<string> _availableRoles = new() { "User", "Manager", "Admin" };
    private Dictionary<string, bool> _selectedRoles = new();

    /// <summary>
    /// Whether the drawer is open.
    /// </summary>
    [Parameter] public bool IsOpen { get; set; }
    
    /// <summary>
    /// Event callback for when IsOpen changes.
    /// </summary>
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }
    
    /// <summary>
    /// The current mode of the drawer.
    /// </summary>
    [Parameter] public EntityDrawerMode Mode { get; set; } = EntityDrawerMode.Create;
    
    /// <summary>
    /// Event callback for when Mode changes.
    /// </summary>
    [Parameter] public EventCallback<EntityDrawerMode> ModeChanged { get; set; }
    
    /// <summary>
    /// The user being edited/viewed (for Edit/View modes).
    /// </summary>
    [Parameter] public UserManagementDto? OriginalUser { get; set; }
    
    /// <summary>
    /// Whether editing is allowed.
    /// </summary>
    [Parameter] public bool AllowEdit { get; set; } = true;
    
    /// <summary>
    /// Event callback when a user is created.
    /// </summary>
    [Parameter] public EventCallback<UserManagementDto> OnUserCreated { get; set; }
    
    /// <summary>
    /// Event callback when a user is updated.
    /// </summary>
    [Parameter] public EventCallback<UserManagementDto> OnUserUpdated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _tenants = (await SuperAdminService.GetTenantsAsync()).ToList();
            InitializeRoles();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to initialize UserDrawer");
            Snackbar.Add($"Errore nel caricamento dei dati: {ex.Message}", Severity.Error);
        }
    }

    protected override void OnParametersSet()
    {
        if (Mode == EntityDrawerMode.Edit && OriginalUser != null)
        {
            // Initialize model for editing
            _model = new UserManagementDto
            {
                Id = OriginalUser.Id,
                FirstName = OriginalUser.FirstName,
                LastName = OriginalUser.LastName,
                Username = OriginalUser.Username,
                Email = OriginalUser.Email,
                TenantId = OriginalUser.TenantId,
                TenantName = OriginalUser.TenantName,
                IsActive = OriginalUser.IsActive,
                Roles = OriginalUser.Roles.ToList(),
                CreatedAt = OriginalUser.CreatedAt,
                LastLoginAt = OriginalUser.LastLoginAt
            };
            
            InitializeRoles();
            foreach (var role in OriginalUser.Roles)
            {
                if (_selectedRoles.ContainsKey(role))
                    _selectedRoles[role] = true;
            }
            
            _customTitle = TranslationService.GetTranslation("drawer.title.modificaUtente", OriginalUser.FirstName, OriginalUser.LastName);
        }
        else if (Mode == EntityDrawerMode.View && OriginalUser != null)
        {
            _customTitle = TranslationService.GetTranslation("drawer.title.visualizzaUtente", OriginalUser.FirstName, OriginalUser.LastName);
        }
        else if (Mode == EntityDrawerMode.Create)
        {
            // Reset for create mode
            _model = new UserManagementDto();
            _password = "";
            _confirmPassword = "";
            InitializeRoles();
            _selectedRoles["User"] = true; // Default role
            _customTitle = null;
        }
    }

    private void InitializeRoles()
    {
        _selectedRoles.Clear();
        foreach (var role in _availableRoles)
        {
            _selectedRoles[role] = false;
        }
    }

    private async Task HandleSave()
    {
        try
        {
            // Update roles from selection
            var roles = _selectedRoles.Where(kvp => kvp.Value).Select(kvp => kvp.Key).ToList();
            
            if (Mode == EntityDrawerMode.Create)
            {
                var createDto = new CreateUserManagementDto
                {
                    FirstName = _model.FirstName,
                    LastName = _model.LastName,
                    Username = _model.Username,
                    Email = _model.Email,
                    TenantId = _model.TenantId ?? Guid.Empty,
                    Roles = roles
                };
                
                var newUser = await SuperAdminService.CreateUserAsync(createDto);
                Snackbar.Add(Messages.CreateSuccessful, Severity.Success);
                
                if (OnUserCreated.HasDelegate)
                {
                    await OnUserCreated.InvokeAsync(newUser);
                }
            }
            else if (Mode == EntityDrawerMode.Edit && OriginalUser != null)
            {
                var updateDto = new UpdateUserManagementDto
                {
                    FirstName = _model.FirstName,
                    LastName = _model.LastName,
                    Email = _model.Email,
                    IsActive = _model.IsActive,
                    Roles = roles
                };
                
                var updatedUser = await SuperAdminService.UpdateUserAsync(OriginalUser.Id, updateDto);
                Snackbar.Add(Messages.UpdateSuccessful, Severity.Success);
                
                if (OnUserUpdated.HasDelegate)
                {
                    await OnUserUpdated.InvokeAsync(updatedUser);
                }
            }
            
            await HandleClose();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to save user");
            var message = Mode == EntityDrawerMode.Create ? Messages.CreateFailed : Messages.UpdateFailed;
            Snackbar.Add($"{message}: {ex.Message}", Severity.Error);
        }
    }

    private async Task HandleCancel()
    {
        await HandleClose();
    }

    private async Task HandleClose()
    {
        IsOpen = false;
        await IsOpenChanged.InvokeAsync(IsOpen);
        
        // Reset state
        _model = new UserManagementDto();
        _password = "";
        _confirmPassword = "";
        InitializeRoles();
        _customTitle = null;
    }

    private string? ValidatePasswordConfirmation(string confirmPassword)
    {
        if (confirmPassword != _password)
        {
            return Messages.PasswordMismatch;
        }
        return null;
    }

    private Color GetRoleColor(string role)
    {
        return role.ToLower() switch
        {
            "superadmin" => Color.Error,
            "admin" => Color.Warning,
            "manager" => Color.Info,
            "user" => Color.Primary,
            _ => Color.Default
        };
    }

    private string GetRoleDescription(string role)
    {
        return role.ToLower() switch
        {
            "user" => TranslationService.GetTranslation("drawer.role.user"),
            "manager" => TranslationService.GetTranslation("drawer.role.manager"),
            "admin" => TranslationService.GetTranslation("drawer.role.admin"),
            "superadmin" => TranslationService.GetTranslation("drawer.role.superadmin"),
            _ => TranslationService.GetTranslation("drawer.role.default")
        };
    }
}