@page "/error"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@inject ITranslationService TranslationService

<PageTitle>@TranslationService.GetTranslation("error.title", "Error") - EventForge</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-8">
    <MudPaper Class="pa-2 pa-sm-3 pa-md-4" Elevation="4">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12">
                <div class="d-flex flex-column align-center">
                    <MudIcon Icon="Icons.Material.Filled.Error" Color="Color.Error" Size="Size.Medium" Class="mb-4" Style="font-size: 48px;" />
                    <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4">
                        @TranslationService.GetTranslation("error.unexpectedError", "An unexpected error occurred")
                    </MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center" Class="mb-4">
                        @TranslationService.GetTranslation("error.operationMayNotCompleted", "An error occurred. The operation may not have been completed correctly.")
                    </MudText>
                </div>
            </MudItem>
            
            <MudItem xs="12">
                <MudDivider Class="my-6" />
            </MudItem>
            
            <MudItem xs="12">
                <div class="d-flex justify-center ga-4">
                    <MudButton Variant="Variant.Filled" 
                               Color="Color.Primary" 
                               StartIcon="Icons.Material.Filled.Home"
                               Href="/login">
                        @TranslationService.GetTranslation("common.returnToLogin", "Return to Login")
                    </MudButton>
                    <MudButton Variant="Variant.Outlined" 
                               Color="Color.Secondary" 
                               StartIcon="@Icons.Material.Outlined.Refresh"
                               OnClick="@(() => NavigationManager.Refresh())">
                        @TranslationService.GetTranslation("common.refresh", "Reload Page")
                    </MudButton>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>

@code {
    [Inject] NavigationManager NavigationManager { get; set; } = null!;
}